<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bullet_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,0},{199,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,58}</string>
			</dict>
			<key>bullet_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,0},{198,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,59}</string>
			</dict>
			<key>bullet_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{199,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,59}</string>
			</dict>
			<key>bullet_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,0},{199,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,54}</string>
			</dict>
			<key>bullet_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,0},{198,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bullet4.png</string>
			<key>realTextureFileName</key>
			<string>bullet4.png</string>
			<key>size</key>
			<string>{993,59}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>993</integer>
			<key>height</key>
			<integer>59</integer>
		</dict>
	</dict>
</plist>